body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.width-limited-text {
  max-width: 600px;
  margin: auto;
}

.upload_btn {
	margin-top: 2%;
}

.flex-colx {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}